body{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.grid{
  position: absolute;
  top:30%;
  left:3%;
  transform: translate(0,-20%); 
}
@media screen and (max-width:1144px){
  .grid{
    position: relative;
    margin-top:200px !important;
  }
  .nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
  }
  .formControl{
    left:30%;
    width: 200px !important;
    height: 40px !important;
    position: relative;
 }
  .button{
    display: inline-flex;
    width: 40%;
    height: 20px;
  }
  .buttonText{
    font-size: 10px !important ;
  }
  .image{
    display: none;
  }
  .button-group{
    display: inline-flex !important;
  }
  .labelText{
    font-size: 12px !important;
    font-weight: 800 !important;
  }
}
.labelText{
  font-size: medium;
  color:#ff6363;
}
.nav{
  justify-content: center;
  text-align: center;
  background-color: #002244;
  padding-bottom:12px;
  box-shadow: 0 8px 6px -6px #999;
  display: inline-flex;
  width: 100vw;
}
.formControl{
  width: 280px;
  margin-top:3px !important;
}
.formControl:hover{
  border: 1px solid rgba(255,0,0,0.9);
}
.button{
  top:10px;
  margin-top:4px !important;
  margin-left:2px !important;
  margin-right:2px !important ;
}
.buttonText{
  color:white;
  font-family: 'Kodchasan', sans-serif  !important;
  
}
.button :hover{
  color:rgba(255,0,0,0.9)
}

.image{
  margin-top: 20px;
  position: relative;
}
